@font-face {
	font-family: 'Share Tech Mono';
	font-style: normal;
	font-weight: 400;
	src: local('Share Tech Mono'), local('ShareTechMono-Regular'), url(https://fonts.gstatic.com/s/sharetechmono/v6/RQxK-3RA0Lnf3gnnnNrAsVlgUn8GogvcKKzoM9Dh-4E.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

* {
	font-family: 'Share Tech Mono', monospace !important;
	font-weight: lighter;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, div.column {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
a,
a:visited,
a:focus,
a:active {
  text-decoration: none;
}
html {
  height: 100%;
  font-size: 16px;
}
body {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  width: 100%;
  min-height: 100%;
  font-weight: 400;
  font-family: 'Share Tech Mono', monospace;
  color: #111111;
  line-height: 1.6;
  text-rendering: optimizeLegibility !important;
}
.icon {
  text-rendering: geometricPrecision !important;
}
section {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  width: 100%;
}
div.column {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  width: 100%;
}
.container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  width: 100%;
}
div.header .container {
  -webkit-align-items: left;
  -moz-align-items: left;
  -ms-align-items: left;
  align-items: left;
  -webkit-justify-content: left;
  -moz-justify-content: left;
  -ms-justify-content: left;
  justify-content: left;
}
div.header .content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: left;
  -moz-align-items: left;
  -ms-align-items: left;
  align-items: left;
}
div.header .container .logo {
  {{ if .Site.Params.enlarged }}
  max-width: 200px;
  {{ else }}
  max-width: 100px;
  {{ end }}
  margin-left: 0rem;
}
div.header .name {
  padding-top: 20px;
  font-size: 28px;
  font-family: 'Share Tech Mono', monospace;
  letter-spacing: -0.005rem;
  {{ if isset .Site.Params "titlestyle" }}
      {{ if in "capitalize uppercase lowercase none full-width" .Site.Params.titlestyle }}
  text-transform: {{ .Site.Params.titlestyle }};
      {{ else }}
      {{ errorf "This titlestyle is not a valid text-transform css parameter: %s" .Site.Params.titlestyle }}
      {{ end }}
  {{ else }}
  text-transform: uppercase;
  {{ end }}
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: #333333;
}
div.header nav {
  margin-bottom: 16px;
}
div.header nav ul {
  list-style: none;
  text-align: center;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: -ms-inline-flex;
  display: inline-flex;
}
div.header nav ul li {
  margin-left: 6px;
  margin-right: 6px;
}
div.header nav ul li:first-child {
  margin-left: 0;
}
div.header nav ul li:last-child {
  margin-right: 0;
}
div.header nav ul a {
  color: #555555;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Share Tech Mono', monospace;
  -webkit-transition: color 0.1s cubic-bezier(0.47, 0, 0.75, 0.72);
  -moz-transition: color 0.1s cubic-bezier(0.47, 0, 0.75, 0.72);
  -ms-transition: color 0.1s cubic-bezier(0.47, 0, 0.75, 0.72);
  -o-transition: color 0.1s cubic-bezier(0.47, 0, 0.75, 0.72);
}
div.header nav ul a:hover {
  color: #111111;
}
div.footer .container {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  flex-direction: column-reverse;
  width: 100%;
  text-align: center;
}
div.footer .container a {
  font-size: 14px;
  margin-left: 6px;
  margin-right: 6px;
  opacity: 0.6;
  -webkit-transition: opacity 0.1s cubic-bezier(0.47, 0, 0.75, 0.72);
  -moz-transition: opacity 0.1s cubic-bezier(0.47, 0, 0.75, 0.72);
  -ms-transition: opacity 0.1s cubic-bezier(0.47, 0, 0.75, 0.72);
  -o-transition: opacity 0.1s cubic-bezier(0.47, 0, 0.75, 0.72);
}
div.footer .container a:first-child {
  margin-left: 0;
}
div.footer .container a:last-child {
  margin-right: 0;
}
div.footer .container a:hover {
  opacity: 0.8;
}
div.footer .container a .icon {
  width: 25px;
  height: 25px;
  margin:5px;
}
div.footer .container .copyright {
  flex-grow: 0.5;
  text-align: start;
}
div.footer .container .icons {
  flex-grow: 0.9;
  text-align: end;
}
div.main .container {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
}
div.main .content {
  color: #111111;
  font-size: 16px;
}
div.main .content .title-container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
div.main .content .posts {
  {{ $nbPosts := len (where .Data.Pages "Params.best" true)  }}
  {{ if gt $nbPosts 0 }}
  margin-bottom: 4em;
  {{ end }}
}
div.main .content .page-heading {
  font-size: 20px;
  font-weight: 700;
  font-family: 'Share Tech Mono', monospace;
  letter-spacing: -0.005rem;
  text-transform: uppercase;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: #333333;
  margin-bottom: 16px;
}
div.main .content .front-matter .page-heading {
  margin-bottom: 0;
}
div.main .content .front-matter .meta {
  font-size: 14px;
  color: #666666;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  margin-bottom: 32px;
}
div.main .content .front-matter .date,
div.main .content .front-matter .author,
div.main .content .front-matter .tags,
div.main .content .front-matter .word-count,
div.main .content .front-matter .middot:before {
  display: none;
}
div.main .content .front-matter .middot:before {
  font-size: 6px;
  margin: 0 6px;
  vertical-align: middle;
  content: "•";
}
div.main .content .front-matter .tags ul {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
div.main .content .front-matter .tags ul li {
  -webkit-transition: opacity 0.1s cubic-bezier(0.47, 0, 0.75, 0.72);
  -moz-transition: opacity 0.1s cubic-bezier(0.47, 0, 0.75, 0.72);
  -ms-transition: opacity 0.1s cubic-bezier(0.47, 0, 0.75, 0.72);
  -o-transition: opacity 0.1s cubic-bezier(0.47, 0, 0.75, 0.72);
}
div.main .content .front-matter .tags ul li:hover {
  opacity: 0.7;
}
div.main .content .front-matter .tags ul li a {
  color: #666666;
}
div.main .container.f04 {
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
div.main .container.f04 .content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
div.main .container.f04 .content .num {
  margin: 30px 0px 30px 0;
  font-weight: 400;
  font-family: 'Share Tech Mono', monospace;
  font-size: 50px;
}
div.main .container.f04 .content .detail {
  margin-bottom: 40px;
}
div.main .container .content .groupby {
  margin-top: 1em;
  /* padding-left: 0.5em; */
}
div.main .container .content .post-item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: list-item;
  list-style: disc inside;
}
div.main .container .content .post-item .meta {
  font-size: 14px;
  color: #666666;
  display: none;
  min-width: 50px;
}
div.main .container .content .see-more {
  font-style: italic;
  float: right;
  font-size: 0.9em;
  margin-top: 2em;
  color: #313537;
}
div.main .container .content .see-more:hover {
  color: #666;
}
section {
  padding: 0 16px;
}
div.column {
  padding: 0 16px;
}
div.header {
  padding-top: 10px;
}
div.header-home {
  padding-top: 36px;
}
div.main {
  padding-top: 32px;
}
div.main .container .content .post-item .meta {
    display: block;
}
div.main .container .content .post-item {
    display: flex;
    list-style: none;
}
a {
  color: #428bca;
  -webkit-transition: color 0.1s cubic-bezier(0.47, 0, 0.75, 0.72);
  -moz-transition: color 0.1s cubic-bezier(0.47, 0, 0.75, 0.72);
  -ms-transition: color 0.1s cubic-bezier(0.47, 0, 0.75, 0.72);
  -o-transition: color 0.1s cubic-bezier(0.47, 0, 0.75, 0.72);
}
a:hover {
  color: #2a6496;
}
img {
  max-width: 100%;
}
div.main .content {
    width: 100%;
}
div.main .content .markdown {
  font-size: 1.1em;
  line-height: 1.75em;
  color: #313537;
  font-family: serif;
  font-weight: 300;
}
div.main .content .markdown h1,
div.main .content .markdown h2,
div.main .content .markdown h3,
div.main .content .markdown h4,
div.main .content .markdown h5,
div.main .content .markdown h6 {
  font-size: 22px;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  letter-spacing: -0.005rem;
  font-weight: 700;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: #333333;
  text-transform: none;
  margin-top: 1.75rem;
}
div.main .content .markdown h1 {
  font-size: 1.75rem;
  margin-bottom: 2rem;
}
div.main .content .markdown h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
div.main .content .markdown h3 {
  font-size: 1em;
  margin-bottom: 1rem;
}
div.main .content .markdown h4,
div.main .content .markdown h5,
div.main .content .markdown h6 {
  font-size: 1rem;
  margin-bottom: 1rem;
  letter-spacing: none;
}
div.main .content .markdown code,
div.main .content .markdown pre {
  font-family: 'Menlo', monospace;
  font-size: 0.98rem;
  background-color: #f7f7f7;
}
div.main .content .markdown code {
  /* enclosed by single backtick (`) */
  padding: .15em .5em;
  border-radius: 2px;
}
div.main .content .markdown pre {
  /* Hugo specific: consider using the 'highlight' shortcode */
  display: block;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 1rem;
  line-height: 1.5em;
  white-space: pre;
  word-break: break-all;
  word-wrap: break-word;
}
div.main .content .markdown pre code {
  /* enclosed by 4 backticks (````) */
  padding: 0;
  font-size: 0.9rem;
}
div.main .content .markdown a code {
  color: #428bca !important;
}
div.main .content .markdown a code:hover {
  text-decoration: underline;
}
div.main .content .markdown p {
  {{if .Site.Params.align_left}}
  text-align: left;
  {{else}}
  text-align: justify;
  {{end}}
  margin-top: 0;
  margin-bottom: 1em;
}
div.main .content .markdown ul,
div.main .content .markdown ol,
div.main .content .markdown dl {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
div.main .content .markdown dt {
  font-weight: bold;
}
div.main .content .markdown dd {
  margin-bottom: .5rem;
}
div.main .content .markdown ul {
  list-style-type: circle;
  list-style-position: outside;
  margin-bottom: 1.25rem;
}
div.main .content .markdown ol {
  list-style-type: decimal;
  margin-bottom: 1.25rem;
}
div.main .content .markdown li {
  margin-left: 2em;
}
div.main .content .markdown em {
  font-style: italic;
}
div.main .content .markdown strong {
  font-weight: 700;
}
div.main .content .markdown hr {
  position: relative;
  margin: 1.75rem 0;
  border: 0;
  border-top: 1px solid #808080;
  border-top: 1px solid #999999;
}
div.main .content .markdown abbr {
  font-size: 0.85rem;
  font-weight: bold;
  color: #666666;
  text-transform: uppercase;
}
div.main .content .markdown abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #808080;
}
div.main .content .markdown blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: #7a7a7a;
  border-left: .25rem solid #e5e5e5;
}
div.main .content .markdown blockquote p:last-child {
  margin-bottom: 0;
}
div.main .content .markdown figure {
  width: 100%;
  background: #fff;
  margin-bottom: 1em;
}
div.main .content .markdown figure img {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
  position: static;
  margin: auto;
}
div.main .content .markdown table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}
div.main .content .markdown td,
div.main .content .markdown th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}
div.main .content .markdown tbody tr:nth-child(odd) td,
div.main .content .markdown tbody tr:nth-child(odd) th {
  background-color: #f7f7f7;
}
div.main .content .markdown .footnotes ol {
  list-style-type: decimal;
  margin-left: 16px;
}
div.main .content .markdown .footnotes li {
  list-style-type: unset;
}
div.main .content .markdown .footnote-ref {
  font-size: 0.7em;
}
div.main .content .navigation {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  padding: 2em;
}
div.main .content .navigation div {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  margin-top: 1em;
}
div.main .content .navigation .icon {
  width: 25px;
  height: 25px;
}
div.main .content .navigation a {
  width: 250px;
  margin: 0 1em;
  text-align: center;
  font-style: italic;
  color: #313537;
}
div.main .content .share, div.main .content .share div {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}
div.main .content .share {
  background-color: rgba(152, 152, 152, 0.07);
  padding: 1em 0;
}
div.main .content .share a {
  margin: 0 6px;
}
kbd {
  padding: 0.1em 0.6em;
  border: 1px solid #ccc;
  font-size: 11px;
  font-family: Arial,Helvetica,sans-serif;
  background-color: #f7f7f7;
  color: #333;
  -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  margin: 0 0.1em;
  text-shadow: 0 1px 0 #fff;
  line-height: 1.4;
  white-space: nowrap;
}

/* Fonts */

{{ if not .Site.Params.disablefancyfonts  }}
.wf-raleway-n4-active body, 
.wf-raleway-n4-active div.header nav ul a,
.wf-raleway-n7-active div.main .content .page-heading,
.wf-raleway-n2-active div.main .container.f04 .content .num,
.wf-raleway-n7-active div.main .content .markdown h1,
.wf-raleway-n7-active div.main .content .markdown h2,
.wf-raleway-n7-active div.main .content .markdown h3,
.wf-raleway-n7-active div.main .content .markdown h4,
.wf-raleway-n7-active div.main .content .markdown h5,
.wf-raleway-n7-active div.main .content .markdown h6 {
      font-family: 'Share Tech Mono';
}

.wf-merriweather-n3-active div.main .content .markdown {
      font-family: 'Share Tech Mono';
}

.wf-ubuntu-mono-n4-active div.main .content .markdown code,
.wf-ubuntu-mono-n4-active div.main .content .markdown pre {
      font-family: 'Ubuntu Mono';
}
{{ end  }}

img.logo {
  padding-right:15px;
  padding-top:15px;
}

div.header-home .container .logo {
  margin-left:0;
}
ul {
  list-style-type: none;
}